.body-contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to left, #0c0c0c, #05b41f, #048d04);
  background-size: 500% 100%;
  animation: deg-anima 5s infinite alternate;
}
.body-contatos .container-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px 30px;
  background: rgba(12, 12, 12, 0.2);
  filter: blur(10%);
  width: 60vw;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.4);
  transition: 0.4s ease;
  gap: 1rem;
}
.body-contatos .container-section .content-form {
  width: 40%;
}
.body-contatos .container-section .content-form h2 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f5f5f5;
  font-size: 2.5rem;
  margin: 2rem;
}
.body-contatos .container-section .content-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* From Uiverse.io by e-coders */
}
.body-contatos .container-section .content-form form label {
  color: #f5f5f5;
  font-size: 20px;
  margin-bottom: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.body-contatos .container-section .content-form form input {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}
.body-contatos .container-section .content-form form input:focus {
  border-radius: 10px;
}
.body-contatos .container-section .content-form form textarea {
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}
.body-contatos .container-section .content-form form textarea:focus {
  border-radius: 10px;
}
.body-contatos .container-section .content-form form button {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 20px;
  line-height: 15px;
  padding: 18px 18px 17px;
  margin-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.body-contatos .container-section .content-form form button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.body-contatos .container-section .content-form form button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}
.body-contatos .container-section .content-form form button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #0c0c0c, #05b41f);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.body-contatos .container-section .content-form form button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.body-contatos .container-section .content-form form button:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.body-contatos .container-section .content-img {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-contatos .container-section:hover {
  box-shadow: 15px 15px 20px rgba(255, 255, 255, 0.699);
  padding: 15px 50px;
  border-radius: 20px 0 0 0;
}

@keyframes deg-anima {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@media screen and (max-width: 768px) {
  .body-contatos .container-section {
    width: 90vw;
  }
  .body-contatos .container-section .content-form {
    width: 50%;
  }
  .body-contatos .container-section .content-img img {
    width: 30vw;
    height: 30vh;
  }
}
@media screen and (max-width: 480px) {
  .body-contatos {
    min-height: 70vh;
  }
  .body-contatos .container-section {
    display: flex;
    flex-direction: column;
  }
  .body-contatos .container-section .content-form {
    width: 100%;
  }
  .body-contatos .container-section .content-img img {
    width: 60vw;
    height: 60vw;
  }
}
@media screen and (min-width: 769px) {
  .body-contatos .container-section {
    width: 90vw;
  }
  .body-contatos .container-section .content-form {
    width: 60%;
  }
  .body-contatos .container-section .content-img img {
    width: 30vw;
    height: 30vh;
  }
}/*# sourceMappingURL=contatos.css.map */