.section-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .img-cole {
        display: flex;
        gap: 1rem;
        margin: 2rem;

        .content-colection {
            .content-image  {
                border-radius: 20px 0 0 0;
                box-shadow: 5px 5px 10px #969696;
                position: relative;
                display: flex;
                background-color: rgb(59, 59, 59);
                justify-content: center;
                align-items: center;
                height: 16rem;
                width: 13rem;
                background-size: cover;
                transition: .4s ease;
            }
            .content-image:hover{
                box-shadow: 3px 3px 20px #333333ea;
            }
            .content-image.exactTime{
                background-image: url('../../../../public/assests/pages/ExactTime.png');
            }
            .content-image.artProject{
                background-image: url('../../../../public/assests/pages/Art.png');
            }
            .content-image.spotify{
                background-image: url('../../../../public/assests/pages/Spotify.png');
            }
            .content-image.coventry{
                background-image: url('../../../../public/assests/pages/Coventry.png');
            }
        }
    }
}
@media screen and (max-width:768px){
    .section-img{
        flex-direction: column;
        gap: 1rem;
        .img-cole{
            flex-direction: column;
            .content-colection{
                .content-image{
                }
            }
        }
    }
}
@media screen and (max-width:480px){
    .section-img{
        flex-direction: column;
        gap: 1rem;
        .img-cole{
            flex-direction: column;
            .content-colection{
                .content-image{
                }
            }
        }
    }
}
